# =====================
# Node.js (frontend)
# =====================
node_modules/
build/
dist/
.env
.env.local

# =====================
# Python (backend)
# =====================
venv/
__pycache__/
*.pyc
instance/
.env
backend/serviceAccountKey.json

# =====================
# Common
# =====================
.DS_Store
.vscode/
.idea/
*.log
*.zip
*.bak
backend/.env
